@model LMSProject.Models.Employee
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div style="text-align: center; margin-top:20px">
    <a><img src="~/images/learning___development-removebg-preview.png" height="200" alt="Daewoo"></a>
</div>
<h1 style="text-align: center; margin-top:10px; font-weight:500">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4"></div> 
    <div class="col-md-4">
        <section>
            <form asp-action="Login" id="account" method="post">
                @*<h4 style="text-align: center;">Use a local account to log in.</h4>*@
                <hr style="text-align: center;" />
                <div style="text-align: center;font-size: 22px;font-weight: bold;" asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label >Enter User ID i.e (22464 )</label>
                    <input  class="form-control" asp-for="Emp_ID"/>
                    <span style="text-align: center;"  class="text-danger"></span>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label>Enter Passward</label>
                        <div class="input-group">
                         
                            <input  type="password" class="form-control" asp-for="User_Passward" id="Password" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">   <i id="ShowPassword" class='bx bx-show'></i> </span>
                            </div>
                            <span style="text-align: center;" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>
         

                <div style="text-align: center;" class="form-group">
                    <a style="text-align: center;" href="\Home\Register" type="submit" class="btn btn-primary text-white">Register</a>
                    <button style="text-align: center;"  type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p style="text-align: center;">
                        @*<a asp-action="Register" asp-controller="Agencies">Register as a new agency</a>*@
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {

            //CheckBox Show Password
            $('#ShowPassword').click(function () {
                var password = document.querySelector('#Password');
                var TogglePassword = document.querySelector('#ShowPassword');
                // $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                const classs = TogglePassword.getAttribute('class') === 'bx bx-show' ? 'bx bx-hide' : 'bx bx-show';
                TogglePassword.setAttribute('class', classs);
            });
        });
        
    </script>
        }









@*@page
    @model LoginModel

    @{
        ViewData["Title"] = "Log in";
    }

    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@