@model DaewooLMS.Models.ViewModel.AddNewPolicyVM
@{
    ViewData["Title"] = "newPolicy";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    int count = 1;
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    #htmlContent{
        margin-top:0rem;
        /* margin-bottom:5rem; */

    }

    #DownloadWord{
        /* line-height:20px; */
        sa
    }
    @@media print {
    .page-break {
        page-break-before: always;
        margin: 0;
        padding: 0;
    }
}
</style>



        <div class="container">
    <div class="content-body">
        <!-- app invoice View Page -->
        <section class="invoice-edit-wrapper">
            <div class="row mb-3 mt-5">
                <div class="col-12">

                    <button class="btn btn-primary  " onclick="generatePDF()">
                        <span>Download Document</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <!-- invoice view page -->

                <div class="col-12">
                    <div class="card">
                        <div class="card-body pb-0 mx-25">
                            <div id="htmlContent" class="page-break">
                                <!-- header section -->
                         @*        <div class="row mx-0">

                                    <table class="table-bordered">
                                        <tr>
                                            <th class="col-2"><img src="\images\learning___development-removebg-preview.png" width="100" height="100" /></th>
                                            <th class="col-8 text-center">HR Policies & Procedures</th>
                                            <th class="d-flex justify-content-center mt-4">
                                                Chapter# HR/00/00
                                                Issue Date: @Model.NewHrPolicies.PolicyDate.ToString("dd-MM-yyyy")
                                            </th>

                                        </tr>
                                    </table>
                                </div> *@
                                <!-- logo and title -->
                                <div class="row my-2 py-50">

                                    <h4 class="text-dark text-center fw-bold">@Model.NewHrPolicies.PolicyName</h4>
                                </div>
                                <!-- invoice address and contact -->
                                <div class="row ">
                                    <div class="col-1"></div>
                                    <div class=" col-10" id="DownloadWord" style="font-family:Arial">
                                        @foreach (var item in Model.newaddPolicies)
                                        {
                                            <div>
                                                <span class="fw-bold">@count.</span> &emsp; <span class="fw-bold"><u>@item.PolicyHeading</u></span>&emsp;&emsp;
                                                <span id="formatted-text" style="white-space: pre-wrap;word-wrap: break-word;">  @Html.Raw(item.PolicyDetail.Replace("\n", "\n"))</span>
                                            </div>
                                            <br />
                                            count++;
                                        }
                                    </div>


                                    <div class="col-1"></div>



                                </div>
                                <div class="row my-5 ">
                                    <div class="col-2"></div>
                                    <div class="col-8 ">
                                        <table class="table-bordered">
                                            <tr>
                                                <td class="fw-bold text-center">
                                                    Prepared By<br />
                                                    Human Resources Department
                                                </td>
                                                <td class="fw-bold text-center">
                                                    Approved By<br />
                                                    Chief Executive Officer

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:250px;height:85px"> </td>
                                                <td style="width:250px;height:85px"> </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- invoice action  -->

            </div>
        </section>

    </div>
        </div>
       
            
       
   
<!-- END: Content-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>









<script>
    // function generatePDF() {
    //     const element = document.getElementById('htmlContent');
    //     html2pdf(element, {
            
    //         margin: [10, 10, 10, 10], // Set margins
    //         filename: 'document.pdf',
    //         image: { type: 'jpeg', quality: 0.98 },
    //         html2canvas: { scale: 2, useCORS: true },
    //         jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }

    //     }).then(() => {
    //         console.log('PDF Generated');
    //     }).catch(error => {
    //         console.error('Error generating PDF:', error);
    //     });
    // }


    function generatePDF() {
        const element = document.getElementById('htmlContent');

        // Define header content
        const header = {
            title: 'HR Policies & Procedures',
            chapter: 'Chapter# HR/00/00',
            issueDate: 'Issue Date: 25-07-2024',
            imgSrc: '/images/learning___development-removebg-preview.png'
        };

        // Options for html2pdf
        const opt = {
            margin: [30, 5, 30, 5],
            filename: 'document.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2, useCORS: true },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' },
            html2canvas: {
                onclone: function (doc) {
                    // Modify the DOM before html2canvas captures the content
                    // This is a placeholder if needed
                }
            }
        };

        html2pdf().from(element).set(opt).toPdf().get('pdf').then(function (pdf) {
            // Add header to each page
            const totalPages = pdf.internal.getNumberOfPages();
            for (let i = 1; i <= totalPages; i++) {
                pdf.setPage(i);
                // pdf.line(10, 3, 10, pdf.internal.pageSize.getHeight() - 10);
                // Add image
                pdf.addImage(header.imgSrc, 'PNG', 10, 5, 16,16 ); // Adjust position and size

                // Add text
                pdf.setFontSize(14);
                pdf.text(header.title, 105, 15, { align: 'center' });
                pdf.setFontSize(8);
                pdf.text(header.chapter, 177, 11, { align: 'center' });
                pdf.text(header.issueDate, 180, 16, { align: 'center' });

                // Draw line below header
                pdf.line(10, 22, pdf.internal.pageSize.getWidth() - 10, 22);
                
            }
        }).save();
    }
</script>






@* <script>


    function downloadWord() {

        var htmlContent = document.getElementById("htmlContent");
        var htmltext = htmlContent.outerHTML;
            $.ajax({
                type: 'POST',
            url: '/Home/ConvertHtmlToWord?HtmlInputModel=' + htmltext,
                // contentType: 'application/json',
                // data: JSON.stringify({ HtmlContent: htmlContent }),
                success: function (response) {
                    var blob = new Blob([response], { type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'Document.docx';
                    link.click();
                },
                xhrFields: {
                    responseType: 'blob'
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
</script> *@





@* <script>
    function downloadWord() {


        var htmlContent = document.getElementById("htmlContent");

        const invoiceWrapper = document.getElementById('DownloadWord').outerHTML;
     
        const html =  invoiceWrapper ;

        const blob = new Blob(['\ufeff', html], {
            type: 'application/msword'
        });

        const url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
        const link = document.createElement('a');
        document.body.appendChild(link);
        link.href = url;
        link.download = 'invoice.doc';
        link.click();
        document.body.removeChild(link);
    }
</script> *@



@* <script>
    $(document).ready(function () {
        $('#downloadWord').click(function () {
            var html = document.getElementById("DownloadWord");
            var htmlContent = html.innerHTML;

            $.ajax({
                type: 'POST',
                url: '/Home/ConvertHtmlToWord?input=' + htmlContent,
              
                contentType: 'application/json',
                data: JSON.stringify({ HtmlContent: htmlContent }),
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = 'output.docx';
                    document.body.append(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                    a.remove();
                },
                error: function () {
                    alert('Failed to download document');
                }
            });
        });
    });
</script> *@


