@model IEnumerable<DaewooLMS.Models.Support>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-body">
    <div class="row">
    </div>
    <!-- Zero configuration table -->
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Events List</h5>
                
                    </div>
                    <div class="card-body card-dashboard">

                        <div class="table-responsive">
                            <table class="table zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Emp ID</th>
                                        <th>Name</th>
                                        <th>Subject</th>
                                        <th>Message</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Emp_ID</td>
                                            <td>@item.Emp_Name</td>
                                            <td>@item.Subject</td>
                                            <td>@item.Message</td>
                                            <td>@item.MsgDate.ToString("dd-MM-yyyy")</td>
                                        
                                            <td>
                                                @* <a asp-action="Edit" class="btn btn-success  btn-sm" asp-route-id="@item.SupportID">Edit</a>
                                                <a asp-action="Details" class="btn btn-info  btn-sm" asp-route-id="@item.SupportID">Details</a> *@
                                                <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.SupportID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Zero configuration table -->

</div>








@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emp_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsValid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MsgDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MsgDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupportID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SupportID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SupportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
