@model IEnumerable<DaewooLMS.Models.Support>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emp_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsValid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MsgDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MsgDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupportID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SupportID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SupportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
